/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/


form{
  
  width: 500px;
  height: max-content;
  background-color: beige;
  padding: 32px;
  margin: 72px auto;
  border-radius: 12px;
}

h1{
  text-align: center;
}

form label{
  display: block;
  padding: 10px;
  margin: 2%;
  border-radius: 4px;
}

input{
  height: 1.5rem;
}

button{
  width: 100%;
  margin: 16px auto;
  padding: 4px;
  height: 2.5rem;
  background-color: blueviolet;
  color: beige;
  border-radius: 4px;
}

.result{
  text-align: center;
  margin: 4% 0;
}

.result h3 {
  color: rgb(51, 51, 51);
  font-weight: 500;
}

#comment {
  color: blueviolet;
  font-weight: 600;
  font-size: 64px;
}


/*****************************************s*
/* ADDITIONAL STYLES
/*******************************************/
